<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home | WGU Capstone</title>
        <link rel='icon' href='/img/weather.png' />
        <link rel="stylesheet" href="/css/styles.css">        
    </head>
<body>
    WGU Capstone Course

    <script src="/js/app.js"></script>
</body>
</html>