<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home | WGU Capstone</title>
        <link rel='icon' href='./images/stock-icon.png' />
                
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/styles.css">  
    </head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Help</a>
          </li>
        </ul>        
      </div>
    </nav>

    <main role="main" class="container-fluid">
        <div class="jumbotron jumbotron-fluid text-center rounded" id="homepage-jumbotron">
            <h1>Stock Tracker</h1>
            <p class="lead">Use our stock tracker to track your stock prices, inventory, dividends, and more.</p>        
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h3>Track Your Stocks</h3>
                <p>Enter your stock information below to track your stocks and how your stock performance in today's market.</p>
            </div>
            <div class="col-sm-4">
                <h3>Mobile App</h3>
                <p>Our Stock Tracker product is tightly integrated with our mobile app so you can track your stocks online or on the go.</p>
            </div>
            <div class="col-sm-4">
                <h3>Help</h3>
                <p>Need a little help? We have you covered. Visit our help page to learn more about the stock tracker and how to get the most out of it.</p>
            </div>
        </div>

        <div class="row" id="" style="background-color: #cfcfc4; height: 15rem;">
            breaker
        </div>

        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </main>

    <script src="/js/app.js"></script>
</body>
</html>