{{>header}}

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <span class="navbar-brand">My Stock Tracker</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {{>navigation}}
    </nav>

    <main role="main" class="container-fluid">
        <div class="jumbotron jumbotron-fluid text-center rounded addBottomSpacing" id="homepage-jumbotron">
            <h1>Reports</h1>
            <p class="lead">Generate a report of your stocks</p>            
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="../images/list-image.png" class="rounded img-fluid">
            </div>
            <div class="col-sm-8">
                <span id="alertMessage"></span>
                <p>At My Stock Tracker, you can generate and download a PDF report of your stocks. This is handy if you need to give information to your accountant!</p>
                <p>The PDF report will display the ticker symbol, the current quantity, and the price entered into My Stock Tracker.</p>
                <h4>Step 1) Click Generate</h4>
                <p>Before the report is available, please click on generate report first.</p>
                <p><a class="btn btn-outline-primary" href="#" role="button" id="generateButton">Generate Your Report</a></p>
                <h4>Step 2) Click Download</h4>
                <p>Once the report is generated, click on download report to get your PDF.</p>
                <p><a class="btn btn-outline-secondary disabled" href="../downloads/my-stock-tracker-report.pdf" role="button" id="downloadButton" target="_new">Download Your Report</a></p>
            </div>
        </div>
    </main>

    {{>footer}}

    <script>
        var liElement = document.getElementById("reports");
        liElement.classList.add("active");        
    </script>

    <script src="/js/reports.js"></script>
</body>
</html>