{{>header}}

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <span class="navbar-brand">My Stock Tracker</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./track-stocks">Track Stocks</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="./help">Help<span class="sr-only">(current)</span></a>
          </li>
        </ul>        
      </div>
    </nav>

    <main role="main" class="container-fluid">
        <div class="jumbotron jumbotron-fluid text-center rounded addBottomSpacing" id="homepage-jumbotron">
            <h1>Track Stocks</h1>
            <p class="lead">Track your stock portfolio</p>
        </div>

        <div class="row">
            <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Tesla</td>
                        <td>5</td>
                        <td>$5.69</td>
                        <td>$25</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Goog</td>
                        <td>10</td>
                        <td>$7.82</td>
                        <td>$35</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>Costco</td>
                        <td>8</td>
                        <td>$13.42</td>
                        <td>$60</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
            <div class="col-sm">
                <form>
                    <div class="form-group dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Ticker or Add New
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Tesla</a>
                            <a class="dropdown-item" href="#">Goog</a>
                            <a class="dropdown-item" href="#">Costco</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ticker</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Quantity</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Value</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Information</button>
                </form>
            </div>            
        </div> 
        
    </main>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>